<div class="card shadow-sm" style="max-width: 600px;">
  <div class="card-header">
    <h1 class="h4 mb-0"><i class="fa-solid fa-pen me-2"></i>Edit Task</h1>
  </div>
  <div class="card-body">
    <%= render "form", task: @task %>
  </div>
</div>
